# Ignore Visual Studio specific files
.vs/
*.user
*.suo
*.cache
*.pdb
*.log
*.sln

# Ignore build results
bin/
obj/
TestResults/
.DS_Store

# Ignore package management
packages/
*.nupkg
project.lock.json
package-lock.json